/*    Fontes Importadas    */
@import url('./fonts/fonts.css');


:root{
    
    /*___Size*/
    --page-max-width: 1920px;

    
    /*___Header*/
    --header-height-size: 30px;
    --header-width-size: 100%;
    --header-item-title-size: clamp(10px, 1.5vw, 23px);
    /*--Logo*/
    --header-logo-width-size: clamp(30px, 3vw, 45px);
    --header-logo-padding-size: 3px;
    /*--Icon*/
    --header-icon-padding-size: 7px;
    /*--Hover*/
    --header-items-color-hover: rgba(146, 146, 146, 0.152);
    --header-items-time-hover: 0.1s;
    
    /*___Banner*/
    --text-title-size: clamp(10px, 3vw, 55px);
    --text-subtitle-size: clamp(7px, 1.7vw, 28px);
    /*--Decorations*/
    --item-1-decoration-size: clamp(20px, 5.5vw, 100px);
    --item-2-decoration-size: clamp(13px, 3.8vw, 70px);
    --item-3-decoration-size: clamp(8px, 2.5vw, 50px);
    

    /*__About*/
    --geometric-icons-size: clamp(80px, 12vw, 215px);
    --geometric-icon-triangle-size: calc(var(--geometric-icons-size) / 2 - 2);
    --geometric-icon-border-size: clamp(1px, 0.15vw, 2px);
    --geometric-icon-gap: clamp(50px, 5.4vw, 100px);

    --about-text-title-size: clamp(17px, 2vw, 35px);
    --about-text-size: clamp(10px, 1.1vw, 20px);


    /*__Skills*/
    --text-skills-title-size: clamp(23px, 3vw, 35px);
    /*--Title*/
    --skill-title-icon-size: clamp(15px, 1.3vw, 25px);
    /*--Card*/
    --card-icon-size: clamp(14px, 1.5vw, 30px);
    
    
    /*___Colors*/
    --primary-color: rgb(38, 38, 38);
    --secondary-color: rgb(255, 175, 45);
    --terceary-color: rgb(232, 232, 232);
    --quaternary-color: #af3bf1;
    --quinary-color: #555555;
    --sixtenary-color: #313131;
    --sevenary-color: #686868;

    /*__Fonts*/
    --primary-font:  "PT-serif";
}    


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

html{
    scroll-behavior: smooth;
}    

body{
    font-family: var(--primary-font), sans-serif;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);

}    

.wrapper{
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;     
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}    








